# Environment variables for scripts and GitHub Actions
# Playwright/test variables
TEST_SHAREPOINT_SITE_URL=
TEST_USERNAME=
TEST_PASSWORD=

# Playwright/prod variables
PROD_SHAREPOINT_SITE_URL=
PROD_USERNAME=
PROD_PASSWORD=

# GitHub Actions secrets/variables
# SPFx certificate base64
M365_CERTIFICATE=
# SPFx certificate password
M365_CERTIFICATE_PASSWORD=
# Entra app ID
M365_CLIENT_ID=
# Tenant ID
M365_TENANT=